@import "src/styles/_icon";
@import "src/styles/_no-appearance";


.Sticker {
  cursor: grab;
  background-color: white;
  box-shadow: 5px 5px 15px 0 rgba(black,.7);
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 5%, transparent 0, transparent 100%);
  background-size: 14px 14px;
  &__header {
    position: relative;
    display: flex;
    height:40px;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(white,.5);
  }
  &__title {
    @extend %no-appearance;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    margin: 0 41px;
    padding: 10px 5px;
    width: 100%;
    overflow: hidden;
    display: block;
  }
  &__text {
    @extend %no-appearance;
    padding: 10px;
    font-size: 16px;
    flex: 1 0 auto;
    display: block;
  }
  &__btn {
    @extend %no-appearance;
    position: absolute;
    top: 0;
    display: flex;
    cursor: pointer;
    height: 40px;
    width: 40px;
    & > svg {
      @extend %icon;
      margin:auto;
      fill:black;
      font-size: 16px;
    }
    &:hover {
      background-color: rgba(grey,.1);
      & > svg {
        fill: black;
      }
    }
  }
  &__btn--left {
    left:0;
  }
  &__btn--right {
    right:0;
  }
  &__colors {
    display: flex;
    &-item {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 20px;
      &.active::after {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        height: 6px;
        width: 6px;
        border-radius: 6px;
        background-color: #797979;
      }
    }
  }
}
.Sticker[data-size="S"]{
  height: 150px;
  width: 250px;
}
.Sticker[data-size="L"]{
  height: 350px;
  width: 350px;
}